.env
__pycache__/
.venv
.vscode
collection/
indexes/
tmp/
retrieval/
topics-qrels/
runs/
evals/
data/
data/decrypted_run_files
data/run_subset
*.SBATCH
quest_runs/
qampari_runs/
embeddings/
*_runs/
final_results
sbatch_outputs
deletable
plan_outputs
